<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SMS Spam Detector</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>📩 SMS Spam Detection</h1>
        <p class="subtitle">Check whether your message is Spam or Not</p>

        <form method="POST">
            <textarea name="message" placeholder="Enter your SMS here..." required></textarea>
            <button type="submit">Check Message</button>
        </form>

        {% if result %}
            <div class="result">
                {{ result }}
            </div>
        {% endif %}
    </div>

</body>
</html>
